{% extends 'AppBundle::base.html.twig' %}

{% block title %}Forgot Password{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">{% endblock %}
{% block body %}
    <section id="complete-registration">
        <div class="container">
            <div class="center">
                <h2>Forgot Password</h2>
            </div>
            <div>
                <form id="" class="" name="" method="post" action="">
                    <p>Please enter your e-mail address and instructions to reset your password will be sent to you.</p>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="email" name="" class="form-control" required="required" placeholder="Email address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" name="" class="btn btn-primary btn-lg" required="required">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--/.container-->
    </section><!--/about-us-->
{% endblock %}
{% block javascripts %}

{% endblock %}