<form role="form" id="form_sign_in" action="{{ path('sign_in') }}" method="POST">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign in</h4> </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="email" id="sign_in_type_email" name="sign_in_type[email]" required="required" class="form-control" placeholder="Email address">
        </div>
        <div class="form-group">
            <input type="password" id="sign_in_type_password" name="sign_in_type[password]" required="required" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="modal-footer  ">
        <p class="text-left">Don't have account ? <a href="#modal-signup" data-toggle="modal" data-target="#modal-signup" class="lk-signup" data-dismiss="modal">Sign up here.</a></p>
        <p class="text-left"><a href="{{ path('forgot_password') }}" >Forgot password?</a></p>
        <button type="submit" id="" name="" class="btn btn-primary btn-block btn-lg">Sign In</button>
    </div>
</form>

<!-- end:modal-signin -->